# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore build artifacts
/build/

# Ignore log files and other temporary files
*.log
*.tmp

# Ignore macOS system files
.DS_Store
# Ignore Next.js build directory
.next/

# Ignore yarn.lock file
yarn.lock

.yarn